.home{
    display: flex;
    background-color: rgb(18, 45, 69);
}
html{
    background-color: rgb(120, 145, 167);
    background-image: url("https://res.cloudinary.com/practicaldev/image/fetch/s--9yBkqrjS--/c_imagga_scale,f_auto,fl_progressive,h_500,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/nphrgz8yfnjylrwfr0yl.png");
}